[Desktop Entry]
Type=Application
Version=1.0
Name=Stereo Tool
GenericName=Radio Audio Processor
GenericName[es]=Procesador de audio para radio
Comment=Complex audio processor and audio hardware manager with radio streaming in goal
Comment[es]=Complejo procesador de audio y administrador de hardware de audio pensado para transmisiones de radio
Icon=stereo-tool
Exec=stereo-tool-jack
Terminal=false
Categories=Audio;Utility;HardwareSettings;HamRadio;Tuner;Music;
Keywords=audio;processor;radio;tuner
